<% include ../partials/header %>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->


<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to YelpCamp!</h1>
			<p>This section contains some of our hand picked camping sites. Feel free to leave one yourself</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new Campground!!</a>
			</p>
		</div>
	</header>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<%cgrounds.forEach(function (cg) {%>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%=cg.image%>" >
				<div class="caption">
					<strong><%=cg.name%></strong>
				</div>
				<p>
					<a href="/campgrounds/<%=cg._id%>" class="btn btn-primary">More info</a>
				</p>
			</div>
		</div>
	<%})%>
	</div>
</div>

<% include ../partials/footer %>