.thumbnail img{
	width: 100%;
}

.thumbnail{
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

.delfrm{
	display: inline;
}

#delbtn{
	width: 125px;
}

#edtbtn{
	width: 125px;
}

.styledfrm{	
	width: 30%;
	margin: 35px auto;
}

.styledh1{
	text-align: center;
}